
<h1>Games</h1>

<table border="1">
  <thead>
    <tr>
      <th>Id</th>
      <th>Users in battle</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.id %><%# link_to game.id, game_path(game) %></td>
        <td><%= game.users.map(&:name).join(', ') %></td>
        <td><%= (game.users.count < 2 ? (link_to "Go", new_game_user_path(game)) : "In battle" )%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_for @game do |f| %>
  <p><%= f.submit "Create game" %></p>
<% end %>
